extends ../layout 

block content 
  if restaurant
    div.showww
      h1 #{restaurant.name} 
      h3 #{restaurant.city}, #{restaurant.state} 
      h3 #{restaurant.cuisine}
      p #{restaurant.rating} stars
      p #{restaurant.description} 
      p 
        a(href='/restaurants/'+ restaurant.id + '/edit') Edit
        form(action='/restaurants/#{restaurant.id}/delete' method='post')
          input(type='submit' value='Delete')
